/* Reset and basic styles */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
}

/* Container styles */
.container {
  max-width: 700px;
  width: 90%;
  margin: auto;
}

/* Wrapper styles */
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  transform: translate(0, 5%);
}

/* Drop-down menu styles */
.dropMenu {
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

/* Textarea title styles */
.textareaTitle {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: bold;
}

.textareaBtn, .secondRequestBtn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.textareaBtn:hover, .secondRequestBtn:hover {
  background-color: #0056b3;
}

.secondRequestBtn {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #0056b3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.secondRequestBtn:hover {
  background-color: #003d80;
}

/* Teacher checkbox styles */
.teacher {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.teacher label {
  margin-left: 5px;
}

/* Error message styles */
.error {
  width: 100%;
  padding: 15px;
  background-color: #eb4d4d;
  color: #fff;
  margin-bottom: 7px;
  margin-top: 7px;
  border-radius: 8px;
  white-space: pre-wrap;
  line-height: 25px;
}

.error.confirm {
  background-color: #ff6600;
}

.error.complete {
  background-color: #138813;
}

/* Textarea styles */
.textarea {
  width: 100%;
  padding: 10px;
  height: 20vh;
  margin-bottom: 10px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

/* Title styles */
h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: normal;
}
